@font-face {
  font-family: "Circe Regular";
  src: local("Circe Regular"), local("Circe-Regular"),
    url("../fonts/CirceRounded-Regular.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular.woff") format("woff"),
    url("../fonts/CirceRounded-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Circe Bold";
  src: local("Circe Regular4"), local("Circe-Regular4"),
    url("../fonts/CirceRounded-Regular4.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular4.woff") format("woff"),
    url("../fonts/CirceRounded-Regular4.ttf") format("truetype");
  font-style: normal;
}