html,
body {
  position: relative;
  background: #F5F7FA;
  box-sizing: border-box;
  height: 100%;
  z-index: -1;
  font-size: 18px;
  color: #000;
  font-family: "Gilroy-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul,
ol {
  // list-style: none;
  // text-align: -webkit-match-parent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

// i {
//   font-size: 14px !important;
// }
button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: rgba(107, 119, 154, 0.05);
  border-radius: 10px;
  padding: 10px;
  font-size: 0.84rem;
  font-family: "Gilroy-Regular";
  &::placeholder {
    font-family: "Gilroy-Regular";
  }
}

#__nuxt,
#__layout {
  height: 100%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #597dfd24;
  border-radius: 10px;
}

.section,
header,
footer {
  padding: 0 15px;
  //     padding: 0 calc(50vw - 270px);
}

@media (min-width: 575.98px) {
  .section,
  header,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  .section,
  header,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 1024px) {
  .section,
  header,
  footer {
    padding: 0 calc(50vw - 460px);
  }
}
@media (min-width: 1440px) {
  .section,
  header,
  footer {
    padding: 0 calc(50vw - 460px);
  }
}

@media (min-width: 1441px) {
  .section,
  header,
  footer {
    padding: 0 calc(50vw - 560px);
  }
}
