$BREAKPOINT_XS: 376px;
$BREAKPOINT_SM: 576px;
$BREAKPOINT_MD: 768px;
$BREAKPOINT_LG: 992px;
$BREAKPOINT_LAPTOP: 1025px;
$BREAKPOINT_LAPTOP_L: 1441px;
$BREAKPOINT_LAPTOP_XL: 1921px;

:root {
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}
